<form action="/home/SendMsg" method="get">
    <div class="form-group">
        <div class="form-inline">
            <label for="text">Digite seu texto</label>
            <input type="text" name="text" id="text" class="form-control" />
            <input type="submit" value="Send Msg"  class="btn btn-success"/>
        </div>
    </div>
</form>