<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="cCon" value="DefaultEndpointsProtocol=https;AccountName=storagehsouza;AccountKey=m/yAoJ1j5bGhMDEWshLvwz03Oryv+IK95LsxgVPalWybErueSKDeS5L6ipsWyWDnvGN+kByigXJkCTV22kjN0g==;EndpointSuffix=core.windows.net"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>